@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-[#0f0f11] text-zinc-100 antialiased;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-700/60;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}
